{#{% extends 'main.html' %}#}


                    
        
{% block content %}
<br>
<div class="row" > 
<div class="col-md">
<div class="card card-body">
<h5>IPO INFORMATION</h5>
</div>
<div class="card card-body">
<table class="table">
<tr>
<th>Company</th>
<th>Price Band</th>

    
</tr>
            {% for i in ipoinfo %}
            <tr>
            <td>{{i.company}}</td>
            <td>{{i.price_band}}</td>
            </tr>
            {% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}  


